@use '../abstracts' as *;

.intro {
  @include grid($template-cols: repeat(3, 1fr) 45%, $template-rows: 100vh);

  @include respond-to("large") {
    @include grid($template-cols: repeat(3, 1fr) 40%, $template-rows: 100vh);
  }

  @include respond-to("medium") {
    @include grid($template-rows: 100vh);
  }

  &__wrap {
    margin-top: calc(var(--header-height) + 4rem);

    grid-column: 1 / 4;
    grid-row: 1 / 2;
    z-index: 1;

    @include grid(
      $template-cols: repeat(3, 1fr),
      $template-rows: repeat(5, max-content)
    );

    & > * {
      grid-column: 1 / 3;
    }

    @include respond-to("medium") {
      grid-column: 1 / -1;
      margin: calc(var(--header-height) + 4rem) 8rem;

      & > * {
        grid-column: 1 / 4;
      }
    }

    @include respond-to("small") {
      margin: calc(var(--header-height) + 4rem) 2rem;
    }
  }

  &__background {
    grid-column: 3 / -1;
    grid-row: 1 / 2;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    @include respond-to("medium") {
      grid-column: 1 / -1;
      filter: brightness(0.8);
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 6rem;
    line-height: 1.3;
    color: var(--c-dark);
    transition: all var(--ease);

    @include respond-to("large") {
      font-size: 5.5rem;
    }

    @include respond-to("medium") {
      color: var(--c-white);
    }

    @include respond-to("small") {
      color: var(--c-white);
      font-size: 4rem;
    }
  }
}

.select-box {
  margin-top: var(--space-lg);
  grid-column: 1 / 2;
  display: flex;

  & > * {
    width: 8rem;
  }
}

.tip {
  margin-top: var(--space-lg);
  color: var(--c-grey2);

  @include respond-to("medium") {
    color: var(--c-white);
  }
}

.scroll {
  margin-top: var(--space-xl);
  display: flex;
  align-items: center;
  column-gap: 2rem;

  &__link {
    color: var(--c-dark1);
    font-weight: 600;
    transition: all var(--ease);
    @include respond-to("medium") {
      color: var(--c-white);
    }
  }

  &__line {
    height: 1px;
    width: 25rem;
    background-color: var(--c-grey1);

    @include respond-to("medium") {
      width: 20rem;
    }
  }

  @include respond-to("small") {
    visibility: hidden;
    opacity: 0;
  }
}

.btn {
  &--search {
    grid-column: 3 / 4;
    color: var(--c-white);
    background-color: var(--c-blue);
    width: 80%;

    @include respond-to("medium") {
      grid-column: 1 / -1;
      width: 80%;
    }

    @include respond-to("small") {
      width: 100%;
    }
  }

  &--select {
    color: var(--c-white);
    background-color: var(--c-grey2);

    &:nth-child(1) {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
    &:nth-child(2) {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &[data-active="true"] {
      background-color: var(--c-blue);
    }
  }
}

.input {
  height: 7rem;

  &--search {
    @include respond-to("medium") {
      grid-column: 1 / -1;
      width: 80%;
    }
    @include respond-to("small") {
      width: 100%;
    }
  }
}
